<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Customers</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="displayMode == DisplayModes.table">
      <div class="div-filter">
        <input
    [(ngModel)]="searchFirst"
    class="input-filter"
    type="text"
    placeholder="First Name"
  />
        <input
    [(ngModel)]="searchLast"
    class="input-filter"
    type="text"
    placeholder="Last Name"
  />
        <input
    [(ngModel)]="searchPhone"
    class="input-filter"
    type="text"
    placeholder="Phone Name"
  />
        <button class="btn btn-success" (click)="addCustomer()">
    Add customer
  </button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers;
  let num = index;">
            <ng-container *ngIf="!filterCustomer(customer)">
              <th scope="row">
                {{num+1}}
                <table-icons (display)="displayCustomerDetails(customer)" (edit)="editCustomer(customer)"
                  (remove)="removeCustomer(customer)">
                </table-icons>
              </th>
              <td>{{customer.first}}</td>
              <td>{{customer.last}}</td>
              <td>{{customer.phone}}</td>
              <td>{{customer.email}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="displayMode == DisplayModes.details">
      <app-add-edit-display-customer [disabled]="true" [customer]="currentCustomer">

      </app-add-edit-display-customer>


    </div>

    <div *ngIf="displayMode == DisplayModes.add">

      <app-add-edit-display-customer [customer]="currentCustomer">

      </app-add-edit-display-customer>
      <button (click)="createCustomer()">
      Create Customer
    </button>
    </div>

    <div *ngIf="displayMode == DisplayModes.edit">
      <app-add-edit-display-customer [customer]="currentCustomer">

      </app-add-edit-display-customer>

      <button (click)="updateCustomer()">
        Update
      </button>




    </div>

    <!-- קוד צרכני-->
    <button
        (click)= "displayMode = DisplayModes.table "

    *ngIf="displayMode !=  DisplayModes.table">
      Back
    </button>








  </div>
</div>